@page
@model RestaurantWebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/_LayoutIndex.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="~/CSS/IndexCSS.css">
}


@using Microsoft.AspNetCore.Identity
@using RestaurantWebApp.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="preload-images"></div>

@if (SignInManager.IsSignedIn(User))
{

    <div class="welcome">
        <h1>Welcome to myFood</h1>
        <div class="center">
            <a asp-page="/Menu">Browse the menu</a> 
        </div>
    </div>

}
else
{
    <div class="welcome">
        <h1>Welcome to myFood</h1>
        <div class="center">
            <a asp-page="/Account/Login">Log in</a>
        </div>
    </div>
}









